*{
    margin: 0;
    padding: 0;
}

.main{
    border: 2px solid blue;
    position: absolute;
    width: 240px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg{
    height: 100vh;
    background: linear-gradient(to right, #e91e63, #3f51b5);
}

.button{
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #388E3C;
    border-radius: 50%;
    background-color: #283593;
    font-size: 25px;
    margin: 4px;
    cursor: pointer;
}

.btn{
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #388E3C;
    border-radius: 15px;
    background-color: #283593;
    font-size: 25px;
    margin: 4px;
    cursor: pointer;

}

.textview{
    border: 2px solid #388E3C;
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}